.navbar {
  // font-family:  "IBM Plex Sans Arabic", sans-serif !important;
  background-color: var(--biegColor);
  color: var(--mainColor);
  // .logoContainer {
  //   width: 80px;
  //   img {
  //     max-width: 100%;
  //   }
  // }

  .navLink {
    font-weight: 600;
    font-size: 22px;
  }
}
