:root {
  --lightColor: #fff;
  --mainColor: #021526;
  --secondaryColor: #13253b;
  --cyanColor: #508dbc;
  --biegColor: #e2e2b6;
}

body {
  background-color: var(--mainColor);
  color: var(--lightColor);
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 667px) {
  .flex-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.logoContainer {
  max-width: 80px !important;
  img {
    max-width: 100%;
  }
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 0px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: var(--cyanColor); /* Color of the scrollbar thumb */
  border-radius: 0px;
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background: transparent; /* Color of the scrollbar corner */
  display: none;
}

/* {
  border: 1px solid green;
} */
